body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero {
    display: inline-block;
    width: 100%;
    height: 100vh;
    float: left;
}
    .first-header {
        display: inline-block;
        width: 100%;
        padding: 80px;        
    }
    
    .logo {
        display: inline-block;
        width: 100px;
        float: left;
        

    }
    .first-link {
        display: inline-block;
        width: 450px;
        float: right;
        
    }
    .link {
        display: inline-block;
        padding: 25px;
        margin: 15px;
        font-size: 18px;
        color: black;
        text-decoration: none;
        position: relative;
        left: 120px;            
    }

.professor-main {
        width: 800px;
        padding: 80px;
        color: black;
        
}
    .professor { 
        width: 600px;
        border-bottom: 2px solid #22A4A2;
        padding-bottom: 10px;
        font-size: 60px;
        color: black;
    }
    .prof-text { 
        width: 600px;
        padding-top: 10px;
        font-size: 20px;
    }
    .started { 
        width: 100px;
        position: relative;
        top: 50px;
        padding: 10px;
        padding-right: 40px;
        padding-left: 40px;
        border: 2px solid black;
        border-radius: 30px;
        text-decoration: none;
        color: black;
        font-size: 25px;
    }

    .br-image {
        background-image: url(./img/womanbackgr.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
    }

    .pirma-sekcija {
           display: inline-block;
           width: 100%;
           height: 100vh;

    }
        .aug-left {
            display: inline-block;
            width: 800px;
            float: left;
            
     }
    
        .pirma-merg {
            display: inline-block;
            width: 650px;
            float: left;
            position: absolute;
            margin-top: 60px;
            margin-left: 80px;
     }

        .bcg-text {
            display: inline-block;
            width: 800px;
            float: left;
            margin-top: 400px;
            height: 350px;
            text-align: center;
            background-color: #229E99;

     }

        .aug-right {
            display: inline-block;
            width: 600px;
            float: right;
            position: relative;
            top: 150px;
            


     }
        .number {
            font-size: 100px;
            color: #D3ECEB;
            
        }

        .heading {
            font-size: 50px;
        
        }

        .text {
            font-size: 20px;
            margin-top: 20px;
            width: 450px;
            color: #949597;

        }

        .get-started {
            display: inline=block;
            position: relative;
            top: 45px;
            padding: 10px;
            padding-left: 50px;
            padding-right: 50px;
            border: 3px solid #229E99;
            border-radius: 30px;
            text-decoration: none;
            font-size: 20px;
            color: #229E99;
            background-color: #E5F2F2;
            font-weight: bold;
            

        }

.antra-sekcija {
            display: inline-block;
            float: left;
            width: 100%;
            height: 100vh;

}
        .lift-left {
                display: inline-block;
                width: 600px;
                float: left;
                position: relative;
                top: 180px;
                left: 160px;
        }

        .lift-right {
                display: inline-block;
                width: 800px;
                float: right;
        }
            .antra-mergina {
                display: inline-block;
                width: 650px;
                float: right;
                position: absolute;
                margin-top: 60px;
                margin-left: 60px;  
            }
            .bg-text {
                display: inline-block;
                width: 800px;
                float: right;
                margin-top: 400px;
                height: 350px;
                text-align: center;
                background-color: #229E99; 
            }

    .trecia-sekcija {
        display: inline-block;
        width: 100%;
        height: 100vh;
    }
        .reduc-left {
                display: inline-block;
                width: 800px;
                float: left;     
            }

            .trecia-mergina {
                display: inline-block;
                width: 650px;
                float: left;
                position: absolute;
                margin-top: 20px;
                margin-left: 80px;
            }

        .reduc-right {
                display: inline-block;
                width: 600px;
                float: right;
                position: relative;
                top: 150px;

        }
    .ketvirta-sekcija {
                display: inline-block;
                float: left;
                width: 100%;
                height: 100vh;
    }
        .abdo-left {
                display: inline-block;
                width: 600px;
                float: left;
                position: relative;
                top: 180px;
                left: 160px;
        }

        .abdo-right {
                display: inline-block;
                width: 800px;
                float: right;
        }
                .ketvirta-mergina {
                display: inline-block;
                width: 650px;
                float: right;
                position: absolute;
                margin-top: 60px;
                margin-left: 60px; 
                }
    .penkta-sekcija {
                display: inline-block;
                width: 100%;
                height: 100vh;
    }
        .aes-left {
                display: inline-block;
                width: 800px;
                float: left;
        }
            .penkta-mergina {
                display: inline-block;
                width: 650px;
                float: left;
                position: absolute;
                margin-top: 60px;
                margin-left: 80px;
             
            }
        .aes-right {
                display: inline-block;
                width: 600px;
                float: right;
                position: relative;
                top: 150px;
        }

    .about {
        display: inline-block;
        width: 100%;
        height: 100vh;


    }
        .about-left {
            display: inline-block;
            float: left;
            width: 600px;
            padding: 100px;
            margin-top: 100px;
            margin-left: 100px;
            

        }
            .about-heading {
                float: left;
                font-size: 40px;
                margin-bottom: 20px;
                width: 300px;
                
            }
            .about-text {
                display: inline-block;
                float: left;
                font-size: 20px;
                color: #949597;
            }
        .about-right {
            display: inline-block;
            width: 800px;
            height: 90vh;
            margin-top: 50px; 
            float: right;
            padding: 100px;
            background-color: blue;
            
        }
        .about-img {

            background-image: url(./img/mergina6.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

    .footer {
        display: inline-block;
        width: 100%;
        height: 100vh;

    }
    .header-footer {
        width: 100%;
        background-color: #F9F9F9;
        margin-top: -23px;
        
    }
    .header-img {
        display: inline-block;
        margin: 40px;
        

    }
    .footer-main {
        display: inline-block;
        width: 100%;


    }
    .footer-heading {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 100px;
        font-size: 40px;

    }
    .links {
        float: left;
        width: 100%;
        
    }
    .footer-img {
        float: left;
        margin: 100px;
        padding: 40px;
        border-radius: 50%;
        border: 3px solid #F4F5F5;
        
    }
.copyright {
    width: 100%;
    text-align: center;
    background-color: #1B262B;
    color: #F9F9F9;
    margin-top: 25px;
    line-height: 30px;
}